<%= link_to 'Veiw Blog Posts', posts_path, :id => "posts_link"%>

<h1>We are blog.</h1>

<div class = "welcomephoto">
<img src="http://img2.wikia.nocookie.net/__cb20120821025844/memoryalpha/en/images/f/fd/Headache.jpg" alt="picard">
</div>
