<%= link_to 'Veiw Blog Posts', posts_path, :id => "posts_link"%>
<br>
<br>
<%= link_to 'New User Sign Up', signup_path, :id => "posts_link"%>

<div class="header">We are blog.</div>

<div class = "welcomephoto">
<img src="http://img2.wikia.nocookie.net/__cb20120821025844/memoryalpha/en/images/f/fd/Headache.jpg" alt="picard">
</div>
