// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  background-color: #f0f8ff;
  border-style: groove;
  margin: 0 auto;
}

h1 {
  color: white;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  margin: 0 auto;
  padding: 20px 20px 20px 20px;
  background: #616161;
  text-align: center;
  width: 770px;

}

tr {
  color: #3333CC;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

#posts_link {
  color: red;
  font-size: large;
}

#other_stuff {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
;
}


